.intro{
    background-color: white;
    
      
}

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 1%;
}

.navlinks li{
    display: inline-block;
    padding: 0px 20px;

}

.line{
    color:gray;
}




.container{
    background-color:white;
    color: black;
    

    .left{
        flex: 0.5;

        .wrapper{
            float: left;
           .content h1{
               margin-top: 10%;
               
           }
            
           
            
            
        }
    }
    .right{
        flex: 0.5;

        .imageContainer{
            width: 600px;
            height:600px;
            background-color: peru;
            
            
            
            border-radius: 900px;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            float: right;

            img{
                width: 100%;
                height: 80%;
            }
        }
    }
}
