.intro{
    background-color: white;
}
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 1%;
}

.navlinks li{
    display: inline-block;
    padding: 0px 20px;

}

.line{
    color:gray;
}